html {
    scroll-behavior: smooth; 
  }
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 19.0145px;
    margin: 0 auto;
    text-align: center;
    padding: 4.75px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
/*----------------------------Header-----------------------------------*/
.header {
    position: relative;
    min-height: 80px;
    margin: 0 auto;
    background: black center center/cover no-repeat;
    z-index:1;
}
.header-container {
    display: flex;
    padding-top: 14px;
}
.header .logo_svg {
    position: relative;
    max-width: 82px;
    max-height: 52px;
    margin-right: 5.55%;
}
.logo_svg div {
    position: relative;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
.logo_svg img {
    position: absolute;
    top: 22.09px;
    left: 9.13px;
}
.burger-menu {
    display: none;
}
.header-container div a{
    margin-right: 0;
    line-height: 52px;
    font-weight: 500;
}
.header-container div a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-container .nav {
    margin-right: 37.8%;
}
.header .nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
.nav-item-header {
    margin-right: 58px;
    text-decoration: none;
}
.header .nav-link {
    text-decoration: none;
    font-weight: 500;
}
.header .nav-item-header:nth-child(4){
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*-------------------------------Main-------------------------------------*/
.main .preview {
    position: relative;
    height: 390px;
    background: url(../../assets/images/panda_donate.jpg) center center/cover no-repeat;
    z-index: 0;
}
/*-------------------------------Button------------------------------------------*/

.choise_button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.choise_button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.choise_button:hover {
    background:#E47209;
    cursor: pointer;
}
.choise_button:active { 
    background: #4B9200;
}
/*--------------------------------pick and feed section-----------------------*/
.pick_afriend {
    height: 1004px
}
.container_anotation {
    max-width: 1160px;
    margin: 0 auto;
}
.container_anotation h3 {
    margin: 0 auto;
    padding-top: 37px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}
.donation_information_text {
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 0.01ex;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.donation_information_text h3 {
    color: #FE9013;
    padding-top: 45px;
}
.pick_afriend_container {
    position: relative;
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 23.3%, rgba(254, 210, 144, 0.7) 30.06%, rgba(254, 194, 165, 0.933151) 73.3%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 82.21%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.pick_afriend .container {
    position: absolute;
    height: 964px;
    left: 0;
    right: 0;
    top: 334px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}
.pick_afriend_title {
    margin-top: 41px;
    padding-right: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}
.pick_text {
    margin: -19px auto auto 93px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.donate_for_panda {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 9px;
    height: 350px;
}
.donate_for_panda_boxes div {
    position: absolute;
    transform: translate(-523%, -33%);
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-transform: uppercase;
    color: #000000;
}
.donate_for_panda_boxes span{
    position: absolute;
    width: 161px;
    transform: translate(-170%, 279%);
}

.donate_for_panda_boxes:nth-child(2) {
   position: absolute;
   transform: translate(-685%, 72%);
}
.donate_for_panda_boxes:nth-child(3) {
    position: absolute;
    transform: translate(41%, 0);
}
.donate_value {
    flex-basis: 12.1%;
}
.input_range_boxes:nth-child(1) {
    display: flex;
    max-width: 976px;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: -6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.input_range_boxes:nth-child(2) {
    display: flex;
}
.input_range_boxes:nth-child(3) {
    display: flex;
    margin-left: 90px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
}

/*-------------------- Стилизация input-range----------------------*/
input[type=range] {
    position: absolute;
    right: 0;
    left: 0;
    -webkit-appearance: none;
    background: transparent;
    width: 915px;
    margin: 13px auto;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 915px;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background:#72828E;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    display: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
    z-index: 0;
}
/*------------------------------------------------------------------------------*/
.circle_button {
    border: none; 
    outline: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#FFEE2E;
    margin-right: 68px;
    z-index: 1;
}
/*--------------------------Удалить----------------------------*/
.circle_button:nth-child(3)::before {
    cursor: pointer;
    content:'';
    display: block;
    border: 2px #FE9013 solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    transform: translate(-50%, -33%);
    transition: 0.2s ease all;
}
.circle_button:nth-child(3)::after {
    cursor: pointer;
    content:'';
    display: block;
    border: 2px #FE9013 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -100%);
    transition: 0.2s ease all;
}
.donate_value:nth-child(3) {
    color: orange;
}
/*-----------------------------------------*/
.circle_button::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    transform: translate(-50%, -50%);
}
.circle_button:hover::before {
    cursor: pointer;
    content:'';
    display: block;
    border: 2px #FE9013 solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    transform: translate(-50%, -33%);
    transition: 0.2s ease all;
}
.circle_button:hover::after {
    cursor: pointer;
    content: '';
    display: block;
    border: 2px #FE9013 solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #FE9013;
    transform: translate(-50%, -100%);
    transition: 0.2s ease all;
}
.input {
    margin: 0 auto;
    width: 976px;
    height: 27px;
    left: 0px;
    top: 500px;
    background: #404950;
    border-radius: 2px;
}
.relative_container {
    position: relative;
}
.input_value {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFEE2E;
    margin: 0 auto;
}
.circle_button:nth-child(8) {
    margin-right: 0;
}
.input_value_container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 8px;
}
.input_value_container_320 {
    display: none;
}
.input_value_container_320 div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: yellow;
}

.input_amount_container {
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.input_amount_container img {
        position: absolute;
        right: left;
        left: 59%;
        top: 29%;
}
.input_amount {
    outline: none;
    border: none;
    border: solid 1px rgba(146, 150, 153, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    width: 262px;
    height: 50px;
    background:  rgba(1, 1, 1, 0);
}
.input_amount:focus {
    color: #4B9200;
    border-color: Green;
    box-shadow: 1px 1px 2px 0 Green;
}
.input_amount:invalid {
    color: red;
    border-color: red;
    box-shadow: 1px 1px 2px 0 red;
}
.radio_container {
    display: flex;
    justify-content: center;
    margin-top: 27px;
}
.form-group {
    margin-right: 33px;
    margin-left: 18px;
}
/*------------------------------radio-------------------------------------------*/
  /* Рисуем внешний круг радиокнопки*/
.custom-radio-btn {
    position: relative; /* Родительский элемент*/
    display: inline-block; /* Для применения рамок, размеров*/
    width: 16px;
    height: 16px;
    background: rgb(0, 0, 0, 0);
    border: 1px solid #FE9013; /* Толщина, стиль, цвет рамки*/
    border-radius: 50%; /* Получение круга*/
    vertical-align: text-top; /* Выравнивание кнопки по центру*/
    margin-right: 5px; /* Отступ между кнопкой и меткой*/
}
.custom-radio-btn:hover {
    cursor: pointer;
}
/* Рисуем внутренний круг */
.custom-radio-btn::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background: green;
    border-radius: 50%;
/* Выравниваем по центру относительно внешнего круга */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
/* Плавный переход трансформации масштабирования */
    transition: 0.2s ease-in;
}
.real-radio-btn:checked + .custom-radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
}    
.real-radio-btn {
 /* Скрываем реальную радио кнопку*/
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.feed_a_friend {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-top: -50px;
    margin-left: 3px;
}
.feed_a_friend_text {
    text-align: center;
    margin-top: 32px;
}
/*----------------------------------------------footer------------------------*/
.footer {
    background-color: #111115;
    min-height: 443px;
    margin-top: 475px;
}
.footer_container {
    display: flex;
}
.footer_boxes {
    display: flex;
    flex-direction: column;
}
.first_section_footer .choise_button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    margin-top: 4px;
}
.first_section_footer:nth-child(1) {
    margin-top: 39px;
}
.first_section_footer:nth-child(2) {
    margin-top: 65px;
}
.first_section_footer:nth-child(3) {
    margin-top: 34px;
}
.first_section_footer .logo_svg h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 19.0145px;
    margin: 0 auto;
    text-align: center;
    padding: 4.75px;
    color: white;
}
.second_section_footer {
    margin-top: 357px;
    margin-left: 100px;
}
.second_section_footer .nav-list {
    display: flex;
}
.thrid_section_footer:nth-child(1) {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: white;
}
.thrid_section_footer:nth-child(3) {
    font-weight: 100;
    font-size: 16px;
    line-height: 200%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 8px;
    color: #E0D8F0;
}
.footer_sosial {
    display: flex;
    margin-top: 10px;
}
.footer_sosial div {
    position: relative;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
}
.footer_sosial img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer_sosial span {
    margin-top: 6px;
    margin-left: 12px;
}
.footer_sosial:hover div {
    background: green;
}
.footer_sosial:hover span {
    color: green;
}
.footer_boxes .nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
.footer_boxes .nav-item-header {
    margin-right: 58px;
    text-decoration: none;
}
.nav-item-header:last-child {
    margin-right: 0;
}
.footer_boxes .nav-list .nav-item-header .nav-link {
    text-decoration: none;
    font-weight: 500;
}
.footer_boxes .nav-link:first-child {
    margin-right: 0;
}
.nav-link:hover {
    color:orange;
}
.thrid_section_footer input {
    width: 222px;
    height: 38px;
    margin-right: 6px;
    background-color: transparent;
    border: orange solid 1px;
    border-radius: 2px;
    color: white;
    outline:none;
}
.thrid_section_footer input:focus {
    color: white;
    border-color: Green;
    box-shadow: 1px 1px 2px 0 Green;
}
.thrid_section_footer input:default {
    border: orange solid 1px;
}

.thrid_section_footer input:valid {
    color: #4B9200;
    border-color: Green;
    box-shadow: 1px 1px 2px 0 Green;
}
.submit {
    width: 129px;
    height: 42px;
    border-radius: 5px;
    background-color: rgba(241, 243, 242, 1);
    border: black solid 2px;
}
.submit:hover {
    cursor: pointer;
    color: #4B9200;
    border-color: Green;
    box-shadow: 1px 1px 2px 0 Green;
}
.footer_boxes:nth-child(3) {
    margin-top: 40px;
    margin-left: 33px;
}
.thrid_section_footer:nth-child(2) {
    margin-top: 14px;
}
.choise_button:hover {
    cursor: pointer;
    background: #E47209;
}
.choise_button:active {
    background-color:rgba(75, 146, 0, 1);
}

@media (max-width: 1200px) {
    .container {
        max-width: 1080px;
    }
    .header-container .nav {
        margin-right: 17.8%;
    }
    .container_anotation {
        max-width: 1000px;
    }
    .second_section_footer {
        margin-left: 0;
    }

}

@media (max-width:  1160px) {
    .container {
        max-width: 1040px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 39px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 20px;
    }
}

@media (max-width:  1080px) {
    .container {
        max-width: 960px;
    }
    .second_section_footer {
        margin-left: -49px;
    }
    .container_anotation {
        max-width: 950px;
    }
}

@media (max-width:  1000px) {
    .header .logo_svg {
        position: relative;
        max-width: 80px;
        max-height: 50px;
        margin-right: 7.79%;
    }
    .logo_svg div {
        width: 80px;
        height: 50px;
        left: 10px;
    }
    .nav-item-header {
        margin-right: 48px;
    }
    .header-container .nav {
        margin-right: 26.9%;
    }
    .main .preview {
        background-position-x: -172px;
    }
    .container_anotation h3 {
        padding-top: 41px;
        padding-right: 100px;
    }
    .container_anotation {
        max-width: 940px;
    }
    .donation_information_text {
        margin-top: 30px;
    }
    .donation_information_text h3 {
        margin-top: 4px;
    }
    .pick_afriend .container {
        max-width: 940px;
        height: 918px;
        top: 385px;
    }
    .pick_afriend_title {
        margin-top: 20px;
    }
    .pick_text {
        margin: -28px auto auto 47px;
    }
    .donate_value:nth-child(1) {
        display: none;
    }
    .input {
        width: 810px;
    }
    input[type=range] {
        width: 785px;
    }
    .input_range_boxes:nth-child(1) {
        margin-left: 65px;
    }
    .circle_button:nth-child(1) {
        display: none;
    }
    .circle_button {
        margin-right: 100px;
    }
    .input_range_boxes:nth-child(3) {
        margin-left: 64px;
    }
    .donate_value {
        flex-basis: 0;
    }
    .donate_value:nth-child(2) {
        margin-right: 54px;
    }
    .donate_value:nth-child(3) {
        margin-right: 57px;
    }
    .donate_value:nth-child(4) {
        margin-right: 70px;
    }
    .donate_value:nth-child(5) {
        margin-right: 71px;
    }
    .donate_value:nth-child(6) {
        margin-right: 71px;
    }
    .donate_value:nth-child(7) {
        margin-right: 86px;
    }
    .input_amount_container img {
        left: 62%;
    }
    .choise_button {
        margin-top: 81px;
    }
    .footer {
        margin-top: 329px;
    }
    .pick_afriend_container {
        height: 1333px;
    }
    .first_section_footer:nth-child(1) {
        margin-top: 41px;
    }
    .first_section_footer .logo_svg h2 {
        padding: 0.75px;
    }
    .first_section_footer .choise_button {
        left: 160px;
        margin-top: 3px;
    }
    .first_section_footer:nth-child(3) {
        margin-left: 11px;
    }
    .second_section_footer {
        margin-left: 0;
        position: absolute;
        left: 33.3%;
    }
    .footer_boxes .nav-item-header {
        margin-right: 48px;
    }
    .thrid_section_footer:nth-child(3) {
        margin-top: 210px;
        margin-left: 170px;
    }
    .footer_boxes:nth-child(3) {
        margin-top: 40px;
        margin-left: 253px;
    }
}

@media (max-width:  960px) {
    .container {
        max-width: 900px;
    }
    .container_anotation {
        max-width: 840px;
    }
    .header-container .nav {
        margin-right: 14.9%;
    }
    .input_range_boxes:nth-child(3) {
        margin-left: 37px;
    }
    .footer_boxes:nth-child(3) {
        margin-top: 40px;
        margin-left: 140px;
    }
    .thrid_section_footer:nth-child(3) {
        margin-top: 150px;
        margin-left: 170px;
    }
}
@media (max-width:  900px) {
    .container {
        max-width: 840px;
    }
    .pick_text {
        margin: -28px auto auto 28px;
    }
    .circle_button:nth-child(2) {
        display: none;
    }
    .circle_button:nth-child(3) {
        display: none;
    }
    .donate_value:nth-child(2) {
       display: none;
    }
    .donate_value:nth-child(3) {
        display: none;
     }
     .circle_button:nth-child(6)::before {
        cursor: pointer;
        content: '';
        display: block;
        border: 2px #FE9013 solid;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        transform: translate(-50%, -33%);
        transition: 0.2s ease all;
    }
    .circle_button:nth-child(6)::after {
        cursor: pointer;
        content: '';
        display: block;
        border: 2px #FE9013 solid;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -100%);
        transition: 0.2s ease all;
    }
    .circle_button {
        margin-right: 56px;
    }
    .input_range_boxes:nth-child(1) {
        margin-left: 151px;
    }
    .input_range_boxes:nth-child(3) {
        margin-left: 0;
        justify-content: center;
    }
    .donate_value:nth-child(6) {
       color: orange;
    }
    input[type=range] {
        width: 524px;
    }
    .input {
        width: 600px;
    }
    .input_range {
        max-width: 600px;
        margin: 0 auto;
    }
    .input_range_boxes:nth-child(1) {
        margin-left: 0;
    }
}
@media (max-width:  840px) {
    .container {
        max-width: 780px;
    }
    .footer_boxes:nth-child(3) {
        margin-left: 66px;
    }
    .container_anotation {
        max-width: 780px;
    }
    .pick_text {
        max-width: 753px;
    }
    .nav-item-header {
        margin-right: 29px;
    }   
}
@media (max-width:  800px) {
    .container {
        max-width: 740px;
    }
    .thrid_section_footer:nth-child(3) {
        margin-top: 150px;
        margin-left: 50px;
    }
    .container_anotation {
        max-width: 720px;
    }
    .container_anotation h3 {
        padding-top: 23px;
    }
}
@media (max-width:  740px) {
    .container {
        max-width: 680px;
    }
    .footer_boxes:nth-child(3) {
        margin-left: -10px;
    }
    .header-container .nav {
        margin-right: 7.9%;
    }
    .container_anotation {
        max-width: 600px;
    }
    .container_anotation h3 {
        font-size: 24px;
    }
}
@media (max-width:  680px) {
    .footer_boxes:nth-child(3) {
        margin-left: -43px;
    }
    .header-container .nav {
        margin-right: 6.9%;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 600px;
    }
    .header-container .nav {
       display: none;
    }
    .header-container div a {
        display: none;
    }
    .header-container div img {
        display: block;
    }
    .logo_svg div {
        border: none;
    }
    .header {
        min-height: 34px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .header-container {
        display: flex;
        max-height: 34px;
        padding-top: 0;
        justify-content: space-between;
        position: relative;
    }
    h1 {
        padding: 0;
        font-size: 12.2899px;
    }
    .header .logo_svg {
        position: absolute;
        left: 64px;
        top: -7px;
    }
    .header-container div {
        position: absolute;
        right: 0;
        top: 11px;
    }
    .logo_svg img {
        top: 8.09px;
        left: 18.13px;
        scale: 0.7;
    }
    .logo_svg div {
        left: auto;
    }
    .main .preview {
        background-position-x: -273px;
        background-position-y: 34px;
        background-size: 215%;
    }
    .pick_afriend {
        margin-top: -21px;
    }
    .container_anotation h3 {
        padding-top: 29px;
        padding-right: 0;
    }
    .donation_information_text {
        margin-top: 17px;
    }
    .container_anotation {
        max-width: 602px;
    }
    .donation_information_text h3 {
        font-size: 36px;
        padding-top: 24px;
    }
    .pick_afriend .container {
        max-width: 600px;
        height: 918px;
        top: 369px;
    }
    .donation_information_text {
        margin-top: 16px;
    }
    .pick_afriend_title {
        margin-top: 30px;
        padding-right: 0;
    }
    .pick_text {
        margin: 0 auto;
        text-align: center;
        margin-top: -18px;
    }
    .donate_for_panda {
        margin-top: 0;
    }
    .input_range {
        margin-top: -23px;
    }
    .input_range_boxes:nth-child(1) {
        padding-left: 10px;
        padding-top: 9px;
        margin-bottom: 7px;
    }
    .input_range_boxes:nth-child(3) {
        margin-left: -6px;
    }
    .input_amount {
        font-size: 15px;
        width: 174px;
        height: 37px;
    }
    .radio_container {
        margin-top: 32px;
    }
    .footer {
        margin-top: 80px;
        min-height: 282px;
    }
    .first_section_footer:nth-child(1) {
        margin-top: 10px;
    }
    .first_section_footer .logo_svg img {
        top: 24.09px;
        left: 12.13px;
        scale: 1;
    }
    .first_section_footer .logo_svg div {
        border: 1px solid #FFFFFF;
    }
    .first_section_footer .logo_svg h2 {
        padding: 5.6px;
    }
    .first_section_footer:nth-child(2) {
        margin-top: 49px;
    }
    .thrid_section_footer:nth-child(1) {
        display: none;
    }
    .thrid_section_footer:nth-child(2) {
        display: none;
    }
    .footer_sosial span {
        display: none;
    }
    .footer .container {
        position: relative;
    }
    .footer_boxes:nth-child(3) {
        position: absolute;
        right: 0;
        top: 173px;
    }
    .first_section_footer:nth-child(3) {
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 2px;
    }
    .second_section_footer {
        margin-left: 0;
        position: absolute;
        left: 0;
        top: -123px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 37px;
    }
    .footer_sosial {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .footer {
        margin-top: 329px;
        min-height: 282px;
    }
    .thrid_section_footer:nth-child(3) {
        margin-top: 0px;
        margin-bottom: 0;
        margin-left: 31px;
    }
    .first_section_footer .choise_button {
        left: 149px;
        margin-top: -14px;
    }
    .first_section_footer .logo_svg h2 {
        padding: 3.6px;
    }
}
@media (max-width: 639px) {
    .container {
        max-width: 590px;
    }
    .main .preview {
        background-size: auto;
        background-position-x: -329px;
        background-position-y: -21px;
    }
    .input {
        width: 300px;
        height: 20px;
    }
    input[type=range] {
        width: 262px;
        margin: 9px auto;
    }
    .input_value_container {
        margin-top: 5px;
    }
    .circle_button {
        margin-right: 40px;
    }
    .input_range {
        max-width: 318px;
    }
    .donate_value {
        font-size: 13px;
    }
    
    .donate_value:nth-child(4) {
        margin-right: 50px;
    }
    .donate_value:nth-child(5) {
        margin-right: 40px;
    }
    .donate_value:nth-child(6) {
        margin-right: 40px;
    }
    .donate_value:nth-child(7) {
        margin-right: 60px;
    }
    .input_range_boxes {
        justify-content: left;
    }
    .pick_afriend .container {
        max-width: 560px;
    }
}

@media (max-width: 620px) {
    .container {
        max-width: 580px;
    }
    .container_anotation {
        max-width: 500px;
    }
}

@media (max-width: 590px) {
    .container {
        max-width: 520px;
    }
    .footer_boxes:nth-child(3) {
        top: 133px;
    }
    .donate_for_panda {
        scale: 0.8;
    }
}
@media (max-width: 540px) {
    .container {
        max-width: 500px;
    }
}
@media (max-width: 520px) {
    .container {
        max-width: 480px;
    }
    .container_anotation {
        max-width: 420px;
    }
    .donation_information_text h3 {
        padding-top: 0px;
    }
    .donation_information_text {
        margin-top: 0px;
    }
    .pick_afriend_title {
       font-size: 32px;
    }
    .pick_afriend_text {
        max-width: 420px;
        margin: 0 auto;
    }
}
@media (max-width: 500px) {
    .container {
        max-width: 420px;
    }
}
@media (max-width: 440px) {
    .container {
        max-width: 360px;
    }
    .donate_for_panda {
        scale: 0.7;
    }
    .pick_afriend_text {
        max-width: 320px;
        margin: 0 auto;
    }
    .pick_text {
        font-size: 22px;
    }
    .donation_information_text h3 {
        font-size: 24px;
    }
    .container_anotation {
        max-width: 320px;
    }
    .pick_afriend .container {
        top: 400px;
    }
    .container_anotation h3 {
        padding-top: 0px;
    }
    .donation_information_text {
        line-height: 21px;
    }
    .donate_for_panda_boxes:nth-child(3) {
        scale: 0.7;
    }
    .donate_for_panda_boxes:nth-child(1) {
        margin-left: 62px;
    }
}
@media (max-width: 380px) {
    .container {
        max-width: 300px;
    }
    .container_anotation {
        max-width: 306px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 22px;
    }
    .first_section_footer:nth-child(3) {
        display: flex;
        margin-right: 55px;
        position: absolute;
        right: 0;
        top: 2px;
    }
    .footer_sosial div {
        margin-left: 10px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 25px;
    }
    .main .preview {
        background-position-x: -416px;
    }
    .donate_value:nth-child(4) {
        margin-right: 24px;
    }
    .donate_value:nth-child(7) {
        margin-right: 31px;
    }
    .donate_for_panda_boxes:nth-child(2) {
        transform: translate(-212%, 72%);
    }
    .donate_for_panda_boxes:nth-child(1) {
        margin-left: 182px;
    }
}
@media (max-width: 320px) {
    .main .preview {
        background-position-x: -147px;
        background-size: 240%;
        background-position-y: 34px;
    }
    .pick_afriend {
        margin-top: -169px;
    }
    .container_anotation {
        max-width: 300px;
    }
    .container_anotation h3 {
        padding-top: 31px;
        line-height: 28.8px;
    }
    .donation_information_text {
        margin-top: 19px;
        line-height: 22.2px;
    }
    .pick_afriend .container {
        top: 534px;
        max-width: 301px;
        height: 591px;
    }
    .donation_information_text h3 {
        margin-top: 0px;
    }
    .pick_afriend_title {
        font-size: 24px;
        margin-top: 21px;
    }
    .pick_text {
        font-size: 16px;
        margin-top: -11px;
        line-height: 21px;
    }
    .donate_for_panda {
        scale: 0.84;
        margin-top: -91px;
    }
    .donate_for_panda_boxes:nth-child(1) {
        margin-left: 23px;
        scale: 0.71;
    }
    .donate_for_panda_boxes:nth-child(2) {
        transform: translate(-602%, 59%);
        scale: 0.71;
    }
    .donate_for_panda_boxes:nth-child(3) {
        scale: 0.68;
        transform: translate(43%, 0);
    }
    .donate_for_panda_boxes span {
        transform: translate(-167%, 270%);
        font-size: 15.02255px;
    }
    .input_range {
        margin-top: -115px;
    }
    .input {
        width: 300px;
        height: 13.5px;
    }
    .input_value_container {
        display: none;
    }
    .input_value_container_320 {
        display: flex;
        justify-content: space-between;
        max-width: 272px;
        padding-top: 2px;
        padding-left: 7px;
        margin: 0 auto;
        margin-top: 5px;
        z-index: 5;
    }
    .input_value_container_320 div {
        margin-right: 8px;
        position: relative;
        top: -2px;
        z-index: 10;
    }
    .input_value_container_320 div:nth-child(3)::before {
        cursor: pointer;
        content:'';
        display: block;
        border: 1px #FE9013 solid;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        transform: translate(-35%, -35%);
        transition: 0.2s ease all;
    }
    .input_value_container_320 div:nth-child(3)::after {
        cursor: pointer;
        content:'';
        display: block;
        border: 1px #FE9013 solid;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-41%, -105%);
        transition: 0.2s ease all;
    }
    input[type=range] {
        margin: -6px auto;
    }
    .input_range_boxes:nth-child(1) {
        margin-bottom: 10px;
    }
    .pick_afriend_container {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
        height: 1146px;
    }
    .input_range_boxes:nth-child(1) {
        padding-left: 0px;
        padding-top: 10px;
    }
    .donate_value:nth-child(4) {
        margin-right: 36px;
    }
    .donate_value:nth-child(5) {
        margin-right: 35px;
    }
    .donate_value:nth-child(6) {
        margin-right: 35px;
    }
    .donate_value:nth-child(7) {
        margin-right: 43px;
    }
    .input_amount_container {
        margin-top: 16px;
    }
    .input_amount_container img {
        left: 74%;
    }
    .input_range_boxes:nth-child(3) {
        margin-left: 7px;
        justify-content: left;
        margin-top: -4px;
    }
    .radio_container {
        margin-top: 27px;
        margin-left: -7px;
    }
    .choise_button {
        margin-top: 79px;
    }
    .feed_a_friend_text {
        text-align: left;
        margin-top: 32px;
    }
    .footer {
        margin-top: 142px;
        min-height: 334px;
    }
    .first_section_footer .logo_svg div {
        border: none;
    }
    .first_section_footer .logo_svg h2 {
        padding: 10px;
        margin-left: 76px;
        width: 128px;
    }
    .first_section_footer .logo_svg img {
        top: 7.09px;
        left: 158.13px;
    }
    .first_section_footer:nth-child(3) {
        margin-right: 35px;
        right: 0;
        top: 62px;
    }
    .footer_sosial {
        margin-right: 19px;
        margin-bottom: 0;
    }
    .first_section_footer .choise_button {
        margin-top: 20px;
        left: 148px;
    }
    .second_section_footer {
        left: 10px;
        top: -79px;
    }
    .footer_boxes .nav-item-header {
        margin-right: 30px;
    }
    .footer_boxes .nav-item-header:nth-child(4) {
        margin-right: 0;
    }
    .thrid_section_footer:nth-child(3) {
        margin-top: 34px;
        font-size: 15px;
    }
    .footer_sosial div {
        margin-left: 11px;
    }
    
}

