* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    max-width: 1900px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Red Hat Text', sans-serif; 
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #030303;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    min-height: 100px;
}
.header_container {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.button {
    min-width: 100px;
    min-height: 30px;
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 4px 4px 4px rgb(13 96 111 / 16%);
    transition: all 0.9s ease;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(192, 185, 185);
    transform: 1s ease;
}
.field {
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    max-width: 600px;
    height: 600px;
    background: linear-gradient(177.09deg, #ededed 6.15%, #78797a 202.69%);
    border-radius: 5px;
}

.additional {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}
.addText {

}
.select {
    max-width: 80px;
    border-radius: 5px;
}
.select:hover {
    cursor: pointer;
}
.tile {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #78797a;
    font-size: 30px;
    border: 1px solid rgb(50, 48, 48);
    border-radius: 5px;
    transition: all 0.6s ease;
}
