html {
  scroll-behavior: smooth; 
  min-height: 100vh;
  min-width: 300px;
}
body {
  font-family: 'Caveat', cursive;
  color: #ffc600;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
}
a {
  text-decoration: none;
}
.hide {
  display: none;
}
.popup-massage {
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
}
.popup-massage-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  height: 100%;
  background-color: #c6729e;
  border-radius: 20px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  transform: translateY(60%);
}
.massage {
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
}
.score-container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
}
.score-row {
  display: flex;
  justify-content: space-between;
}
.score-name, .score-name-header {
  font-size: 36px;
}
.score-count, .score-count-header {
  font-size: 36px;
}
.start, .back-to-main {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 70px;
  border: 3px  #ffc600 solid;
  border-radius: 30px;
  background-color: rgba(28,28,28,0);
  transition: all 500ms ease; 
  font-family: 'Caveat', cursive;
  font-size: 32px;
  line-height: 0.9;
  color: #ffc600;
  transition: 0.6 all ease;
}
.back-to-main:hover {
  transform: scale(0.8);
}
.start:hover {
  transform: scale(0.8);
}
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}
.logo:hover {
  transform: scale(0.9);
}
.logo-img {
  max-width: 300px;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.bird-left {
  position: absolute;
  left: 0;
  top: 50%;
  width: 150px;
}
.bird-right {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 150px;
}
.main {
  padding: 10px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.nav-item {
  margin-left: 50px;
  text-decoration: none;
}
.nav-link {
  font-family: 'Caveat', cursive;
  font-size: 48px;
  color: #ffc600;
}
.nav-item:nth-child(1) {
  margin-left: 0;
}
.nav-link:hover {
  color: yellow;
}
.burger-icon {
  display: none;
  margin-left: 30px;
  width: 30px;
  height: 30px;
}
.burger-icon:hover {
  cursor: pointer;
}
.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  padding: 10px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.rs-school {
  display: flex;
  align-items: center;
  width: 130px;
  transition: 1s all ease;
}
.rs-school:hover {
  transform: scale(0.9);
}
.git-hub {
  display: flex;
  transition: 1s all ease;
}
.git-hub:hover {
  transform: scale(0.9);
}
.year {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: 'Caveat', cursive;
  font-size: 48px;
  color: #ffc600;
}

/*-----------------------------------burger-menu-----------------------------------*/
.burger-menu-popup {
  display: none;
  position: fixed;
  width:100%;
  min-height:100%;
  z-index: 20;
  background-color: rgba(0,0,0,0.5);
}
.burger-menu-active {
  display: block;
}
.burger-menu {
  width:100%;
  min-height:200px;
  background-color: #c6729e;
  overflow:hidden;
  position:fixed;
  top:0px;
  z-index: 20;
}
.burger-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.x-icon-orange {
  display: flex;
  align-items: center;
}
.x-icon-orange:hover {
  cursor: pointer;
}
.x-icon {
  width: 30px;
}
.burger-menu-active .nav {
  display: flex;
  padding: 5px;
}
.burger-menu-active .nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.burger-menu-active .nav-link {
  font-size: 36px;
}

/*----------------------------------------media----------------------------------------*/

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
  .burger-icon {
    display: block;
  }
  .logo-img {
    max-width: 150px;
  }
}

@media (max-width: 1439px) {
  .bird-left {
    display: none;
  }
  .bird-right {
    display: none;
  }
}
@media (max-width: 480px) {
  .popup-massage-container {
    transform: translateY(10%);
  }
  .buttons-container {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }
  .buttons-container a {
    margin-top: 10px;
  }
}








